* {
    box-sizing: border-box;
}    
body {
    /* margin: 75px 50px 75px 200px; */
    font-family: myFirstFont;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    background-color: rgb(249,250,250)   ;
    color: #738F93;
    margin-left: 15%
}

#header_section{
    flex:2px;
}

#body_section{
    height: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
}

#body_text{
    display: flex;
    font: "Open Sans", sans-serif;
    letter-spacing: -0.013em;
    flex-direction: column;
    margin-bottom: 40px; 
    color: #738F93;
    padding-left: 30px;
    padding-right: 30px;
}

#body_text_signup{

    font: "Open Sans", sans-serif;
    letter-spacing: -0.013em;
    display: block; 
    margin-bottom: 40px; 
    color: #39424e;
    padding-left: 30px;
    padding-right: 30px;
}


.body_text_heading {
    font-family: mySecondFont;

}

#for_company_developer 
{
    display: flex;
    flex-direction: row;
}

#for_company
{
    color: #39424e;
    font-family: myFirstFont;
    padding: 1em 0em 0em 0em;
    width: 300px;
}

/* #bottom_padding{

} */

#remote_hiring{
    color: white;
    padding: 0.5em 1em;
    background-color: rgb(80,166,77);
    box-shadow: 0 4px 12px rgba(27,169,76,0.5);
}

/* a.link{
    color: inherit
}

a.visited{
    color:inherit;
} */

a:hover{
    color: rgb(118, 219, 115);
}

#for_developer
{
    color: #39424e;
    font-family: myFirstFont;
    padding: 1em 0em 0em 1em;
    width: 300px;
}

#sign_up_and_code{
    color:  rgb(80,166,77);
    background-color: white;
    padding: 0.5em 1em;
    border: 1px solid rgb(80,166,77);
    box-shadow: 0 4px 12px rgba(27,169,76,0.5);
}

#title_section {
    /* padding: 2.462em 0 2.308em; */
    display: flex;
    flex-direction: row;
    max-width: 90%;
    /* flex: 1; */
    width : 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

#title_heading{
    /* padding-left: 30px;
    padding-right: 30px; */
    flex: 1;
    display: block;
    margin:auto;

}

#loginSignup{
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
    color: #738F93;
    
    
}

#signup{
    border:1px solid #576871;
    padding: .5em 1.5em;

}

#footer_padding{
    padding: 30px 50px;
}

.login_padding{
    padding: 0.5em 1.5em;
}

.button_padding{
    padding: 30px 0 30px;
}

.button_padding.one{
    padding: 0.5em 0em;
}

ol,ul {
    list-style: none;
}
li{
    display: inline;
}

p{
    color: #738F93;
}

h2{
    letter-spacing: 0.15em;
}
h1{
    letter-spacing: 0.05em  ;
}

.remove_for_media{
    display: block;
}

.no_decoration_link{
    text-decoration: none;
    color: inherit;
}


@media (max-width: 1000px) {

    #for_company_developer{
        flex-direction: column;
        padding: 10px 0px;
    }
    #for_developer{
        padding: 1px 0px;
    }

    #body_section{
        align-items: center;
    }
}




@media (max-width: 760px) {
    
    .remove_for_media {
        display: none;
    }
    #title_section {
        flex-direction: column;
        display: block;
        padding: 40px 10px 20px 30px
    }

    .login_padding{    
        padding: 2em 1.5em 2em 0em;
    }
    .ul{
        padding: 0;
    }

    #for_company_developer{
        flex-direction: column;
    }
    
    #for_developer{
        padding: 1px 0px;
    }
}



@font-face {
    font-family: myFirstFont;
    src: url(font/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2);
}

@font-face {
font-family: mySecondFont;
src: url(font/mem5YaGs126MiZpBA-UN7rgOUuhpKKSTjw.woff2);
}